@use "../../partials/palette";
@use "../../partials/mixins";
@use "../../partials/breakpoints";

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
  min-width: 200px;

  @include mixins.phone {
    min-width: 170px;
  }

  @include mixins.phone_sm {
    flex-direction: row;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__actions {
    display: flex;
    gap: 15px;

    @include mixins.phone_sm {
      flex-direction: column;
      gap: 5px;
    }

    p {
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
