// $bg-color: #fff1d7;
// $bg-color-dark: #f5e5c9;
// $yellow: #ffb700;
// $yellow-light: #ffda84;
// $red: #ff351f;
// $red-light: #ffada3;

$black: #0d0d0d;
$yellow: #eef279;
$yellow2: #d9df2f;
$green: #82d943;
$red: #e3371e;

$color1: #faa86b;
$color1-dark: #ec893d;
$color1-light: #f7bb8e;
$color2: #e8dd8b;
$color3: #a6ffa7;
$color4: #8bdae8;
$color5: #9d7fff;
